/* ContactUs.css */

.contact-us-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* Set the background color of the entire page */
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contact-info {
    width: 300px;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #ff70a6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff4d80;
  }
  